/*给图片过渡效果*/

img {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    /* Firefox 4 */
    -webkit-transition: all 0.5s;
    /* Safari 和 Chrome */
    -o-transition: all 0.5s;
    /* Opera */
    ;
}


/* .index{width: 400px;margin: 0 auto;padding-bottom: 100px;} */


/* .index-img {
    width: 100%;
    /* height: 210px; */


/* margin-top: 100px; */


/* } */


/*object-fit: cover;解决图片指定大小被压缩问题*/

.index-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-img img {
    /* 转换速度 */
    transition: transform 0.5s ease;
}

.index-img a:hover {
    opacity: 1;
    /* 增加元素的大小*/
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    transform: scale(1.1, 1.1);
}

.index-img:hover img {
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    transform: scale(1.1, 1.1);
}