/* ### Menu ### */


/* ## Main ## */


/* ### General ### */


/* ### Layouts */


/* ### Menu ### */


/* ## Main ## */


/* ### Spacing ### */


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* .slick-slide img {
  margin: -12px auto;
} */

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    visibility: hidden;
}

.slick-dots li button:after {
    content: '';
    width: 4px;
    display: block;
    height: 4px;
    background: lightgray;
    visibility: visible;
    border-radius: 2px;
}

.slick-dots li.slick-active button:after {
    background-color: black;
}

.gallery-slider {
    padding: 0 0px;
}

.gallery-slider .slick-arrow {
    position: absolute;
    width: 30px;
    height: 30px;
}

.gallery-slider .slick-prev {
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../image/arrow-button-left.png");
    background-position: center;
    background-size: contain;
    border: none;
}

.gallery-slider .slick-next {
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
    background: url("../image/arrow-button-left.png");
    background-position: center;
    background-size: contain;
    border: none;
}

.im img {
    /* 转换速度 */
    transition: transform 0.5s ease;
}

.im a:hover {
    opacity: 1;
    /* 增加元素的大小*/
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    transform: scale(1.1, 1.1);
}

.im:hover img {
    -webkit-transform: scale(1.1, 1.1);
    /* Safari */
    -ms-transform: scale(1.1, 1.1);
    /* IE 9 */
    transform: scale(1.1, 1.1);
}